/*------------- Reset browser differences ------------- */

* {
	padding: 0;
	margin: 0;
}
/* ------------ Body styles ------------ */

body {
	background-color: #f0f1f3;
	color: #667073;
	font: 16px/1.3 'Arial', sans-serif;
}


/* ------------ Header styles ------------ */


/* ------ Home ------ */

.homebanner {
	height: 120px;
	background-color: #3c4446;
}

.homebannertext {
	text-align: center;
	padding-top: 35px;
	font-family: 'Open Sans Condensed', serif;
	font-weight: bold;
	color: white;
}

.homebannertext span {
	color: #d6441b;
}

#logo {
	text-decoration: none;
	color: white;
}

#logo:visited {
	color: white;
}


/* ------ Invite ------ */

.banner {
	height: 70px;
	background-color: #3c4446;
	margin-bottom: 30px;
}

.bannertext {
	text-align: center;
	padding-top: 15px;
	font-family: 'Open Sans Condensed', serif;
	font-weight: bold;
	color: white;
	font-size: 25px;
}

.bannertext span {
	color: #d6441b;
}


/* ------------ Section styles ------------ */


/* ------ Home ------ */

.homesection {
	text-align: center;
	margin-top: 140px;
}

.node {
	padding-top: 20px;
	text-align: center;
	margin-bottom: 120px;
}

.node #chat {
	font-family: 'Open Sans Condensed';
	font-weight: normal;
	color: #707368;
}

#nodelogo {
	width: 410px;
	height: 110px;
	margin-bottom: 35px;
}

#create {
	width: 300px;
	height: 100px;
	background-color: #70b1d1;
	text-align: center;
	display: block;
	margin: 0px auto;
	border-radius: 3px;
	box-shadow: 0px 5px 5px #e4e8e7;
	text-decoration: none;
	margin-bottom: 70px;
	color: #eeffff;
}

#create:visited {
	color: #eeffff;
	text-decoration: none;
}

#createbutton {
	padding-top: 28px;
}

#little {
	font-weight: normal;
	font-size: 13px;
}

#big {
	font-weight: bold;
	font-size: 23px;
}

.tutorial {
	margin-bottom: 90px;
}

#tutorial {
	color: #88bfd4;
}

#tutorial:visited {
	color: #88bfd4;
}


/* ------ Connected ------*/

.connected {
	text-align: center;
	display: block;
	margin: 0px auto;
	width: 700px;
	height: 400px;
	background-color: #ffffff;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #e3e4e6;
	color: #637277;
}

.connected h2 {
	padding-top: 20px;
}

.infoConnected {
	text-align: left;
	float: right;
	margin: 65px 165px 0 0;
}

#creatorImage {
	float: left;
	margin: 90px 0 0 140px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

#yourName {
	float: left;
	padding-left: 10px;
	width: 150px;
	height: 30px;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #e3e4e6;
	background-color: #f0f1f3;
	border: 1px solid #d1d1d1;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #e3e4e6;
	margin-bottom: 20px;
	overflow: hidden;
}

#yourEmail {
	float: left;
	padding-left: 10px;
	width: 200px;
	height: 30px;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #e3e4e6;
	background-color: #f0f1f3;
	border: 1px solid #d1d1d1;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #e3e4e6;
	margin-bottom: 40px;
}

#yourEnter {
	float: left;
	width: 110px;
	height: 40px;
	text-align: center;
	background-color: #73b4d4;
	border: none;
	box-shadow: 3px 3px 3px #efedee;
	border-radius: 2px;
	color: white;
	font-weight: bold;
	font-size: 15px;
}


/* ------ Person Inside ------*/

.personinside {
	text-align: center;
	display: block;
	margin: 0px auto;
	width: 700px;
	height: 400px;
	background-color: #ffffff;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #e3e4e6;
	color: #637277;
}

.personinside h2 {
	padding-top: 20px;
	width: 210px;
	overflow: hidden;
}

.infoInside {
	text-align: left;
	float: right;
	margin: 65px 165px 0 0;
}

#ownerImage {
	float: left;
	margin: 90px 0 0 140px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

#hisName {
	float: left;
	padding-left: 10px;
	width: 150px;
	height: 30px;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #e3e4e6;
	background-color: #f0f1f3;
	border: 1px solid #d1d1d1;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #e3e4e6;
	margin-bottom: 20px;
}

#hisEmail {
	float: left;
	padding-left: 10px;
	width: 200px;
	height: 30px;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #e3e4e6;
	background-color: #f0f1f3;
	border: 1px solid #d1d1d1;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #e3e4e6;
	margin-bottom: 40px;
}

#hisEnter {
	float: left;
	width: 110px;
	height: 40px;
	text-align: center;
	background-color: #73b4d4;
	border: none;
	box-shadow: 3px 3px 3px #efedee;
	border-radius: 2px;
	color: white;
	font-weight: bold;
	font-size: 15px;
}


/* ------ Invite ------ */

.invite-textfield {
	text-align: center;
	display: block;
	margin: 0px auto;
	width: 750px;
	height: 300px;
	background-color: #ffffff;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #e3e4e6;
	color: #637277;
}

.invite-textfield h2 {
	padding-top: 80px;
}

.invite-textfield h5 {
	font-weight: normal;
	margin: 10px 0 35px;
}

.invite-textfield .link {
	width: 600px;
	height: 35px;
	text-align: center;
	display: block;
	margin: 0px auto;
	padding-top: 15px;
	margin-bottom: 120px;
	border-radius: 4px;
	background-color: #f0f1f3;
}

.invite-textfield #link {
	text-decoration: none;
	color: #637277;
}


/* ------ Left ------*/

.left {
	text-align: center;
	display: block;
	margin: 0px auto;
	width: 750px;
	height: 300px;
	background-color: #ffffff;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #e3e4e6;
	color: #637277;
	margin-bottom: 400px;
}

.left h2 {
	padding-top: 50px;
	padding-bottom: 6px;
}

.left h5 {
	font-weight: normal;
	margin-bottom: 100px;
}

#leftImage {
	float: left;
	margin: 90px 0 0 140px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.nickname-left {
	width: 40px;
	overflow: hidden;
}


/* ------ Too many People ------*/

.toomanypeople {
	text-align: center;
	display: block;
	margin: 0px auto;
	width: 750px;
	height: 300px;
	background-color: #ffffff;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #e3e4e6;
	color: #637277;
}

.toomanypeople h2 {
	padding-top: 100px;
	padding-bottom: 8px;
}

.toomanypeople h5 {
	font-weight: normal;
	margin-bottom: 100px;
}

#room:visited {
	color: #88bfd4;
}


/* ------ No Messages ------ */

.nomessages {
	text-align: center;
	display: block;
	margin: 0px auto;
	width: 750px;
	height: 300px;
	background-color: #ffffff;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #e3e4e6;
	color: #637277;
	margin-bottom: 400px;
}

.nomessages h2 {
	padding-top: 50px;
	overflow: hidden;
	padding-bottom: 6px;
}

.nomessages h5 {
	font-weight: normal;
	margin-bottom: 100px;
}

#noMessagesImage {
	float: left;
	margin: 90px 0 0 140px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

#img {
	float: left;
	margin: 90px 0 0 140px;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}

.info {
	text-align: left;
	float: right;
	margin: 65px 60px 0 0;
	width: 405px;
	overflow: hidden;
}

.nickname-chat {
	overflow: hidden;
}


/* ------ Chat Screen ------ */

.image {
	clear: both;
	float: left;
	height: 160px;
	width: 80px;
	text-align: center;
	overflow: hidden;
}

.image img {
	float: left;
	width: 80px;
	height: 80px;
	border-radius: 50%;
}

.body {
	text-align: center;
	width: 40%;
	display: block;
	margin: 0px auto 650px;
	background-color: #ffffff;
	color: #637277;
}

.chats {
	list-style-type: none;
	margin-top: 10px;
}

.me {
	clear: both;
	float: left;
	margin-bottom: 10px;
}

.you {
	clear: both;
	float: right;
	margin-bottom: 10px;
}

.you .image {
	float: right;
}

.chats .me p {
	text-align: left;
	float: left;
	display: inline-block;
	margin-left: 20px;
	margin-bottom: 30px;
	padding: 25px 34px;
	min-width: 160px;
	min-height: 10px;
	max-width: 510px;
	background-color: #FFF;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #E3E4E6;
	color: #637277;
	line-height: 1.4;
	word-wrap: break-word;
}

.chats .you p {
	text-align: left;
	float: left;
	display: inline-block;
	margin-right: 20px;
	margin-bottom: 30px;
	padding: 25px 34px;
	min-width: 160px;
	min-height: 10px;
	max-width: 510px;
	background-color: #FFF;
	border-radius: 3px;
	box-shadow: 0px 3px 3px #E3E4E6;
	color: #637277;
	line-height: 1.4;
	word-wrap: break-word;
}

.image b {
	overflow: hidden;
	display: block;
	clear: both;
	padding-top: 7px;
}

.image i {
	font-size: 12px;
	line-height: 1.2;
	display: block;
	opacity: 0.8;
	padding-top: 4px;
}


/* ------------ Footer styles ------------ */

footer {
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding-top: 30px;
	background-color: white;
	height: 130px;
}

#chatform {
	width: 700px;
	margin: 0 auto;
	background-color: white;
}

#message {
	width: 550px;
	height: 80px;
	display: block;
	float: left;
	margin: 0 auto;
	background-color: #f9f9f9;
	border: 1px solid #cccccc;
	border-radius: 2px;
	padding-left: 20px;
	padding-top: 20px;
	resize: none;
	font: inherit;
	color: inherit;
}

#submit, input[type=button] {
	width: 110px;
	height: 60px;
	float: right;
	text-align: center;
	background-color: #73b4d4;
	display: block;
	margin: 0 auto;
	border: none;
	box-shadow: 3px 3px 3px #efedee;
	border-radius: 2px;
	color: white;
	font-weight: bold;
	font-size: 17px;
	outline: none;
	cursor: pointer;
}


/* ---------------------- HIDE -------------------------- */

.connected {
	display: none;
}

.personinside {
	display: none;
}

.invite-textfield {
	display: none;
}

.left {
	display: none;
}

.toomanypeople {
	display: none;
}

.nomessages {
	display: none;
}

footer {
	display: none;
}

.chatscreen {
	display: none;
	width: 700px;
	margin: 0 auto 200px;
	overflow: hidden;
}